.overview__text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    .overview__text__emphasize {
        font-size: 1.5rem;
    }
}
.f32 {
    vertical-align: bottom;
    .flag {
        display: inline-block;
        height: 24px;
        width: 32px;
        vertical-align: text-top;
        line-height: 32px;
    }
}
